html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  

*{
    padding: 0;
    margin: 0;
}
/* Header*/
.header{
    background-color: #953f10;
    height: 150px;
    background-size: cover;
}
.imagen_logo{
    height: 130px;
    width: 130px;
    text-align: center;
}
@media (min-width:760px){
    .barra{
        display: flex;
        justify-content: space-between;
    }
    
}
@media (min-width:760px){
    .navegacion_derecha{
        display: flex;
        text-align: center;
        justify-content: space-between;
        font-size: 20px;
        height: 45px;
        
    }   
}

.navegacion_enlace:hover{
    background-color: #ffff;
}

.navegacion_enlace{
    display: block;
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    padding: 10px;
    background-color: #9DCD5A;
    color: #953f10;
    
}
@media (min-width:760px){
    .iniciar_sesion{
        background-color: #953f10;
        color: #9DCD5A;
    }
    .registrate{
        background-color: #9DCD5A;
        color: #953f10;
    }
}

/*Fin del header*/

/* Navegacion*/

@media (min-width:760px){
    .navegacion_abajo{
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: 20px;
        height: 45px;
        margin-bottom: 1000px;
    }   
}

nav li:hover {
    background-color: #ffff;
}

/*Fin de la navegacion*/

/*Cuerpo titulo*/

@media (min-width:760px) {
    .titulo{
        text-align: center;
        margin-top: 2em;
        padding-top: 20px;
    }
}

h1{
    text-align: center;
    margin-top: 2em;
    border-top-width: 20px;
    padding-top: 220px;
    color: #953f10;
    }


.Bienvenido {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.imagen_canina{
    border-radius: 50%;
    justify-content: center;
    text-align: center;
}

footer {
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 30px;
    background-color: #953f10;
    color: #9DCD5A;
    margin-top: 35px;
}

h2 {
    font-size: 30px;
    text-align: center;
    color: #953f10;
    margin-top: 50px;
}

p {
    text-align: center;
    font-size: 20px;
}
li {
    font-size: 20px;
}

.contenedor {
    width: 50%;
}

.formulario {
    background: #9DCD5A;
    width: 100%;
    margin: auto;
}

h3 {
    font-size: 50px;
    color: #953f10;
    text-align: center;
}

h4{
    text-align: center;
    background-color: #953f10;
    font-size: 50px;
    padding: 10px;    
}

h5{
    text-align: center;
    font-size: 60px;
    color: #953f10;
}
h6{
    text-align: center;
    font-size: 20px;
    color:#000000;
}
b {
    text-align: center;
    font-size: 20px;
    color: #000000;
}

input[placeholder="Nombres"], input[placeholder="Apellidos"], 
input[placeholder="Celular"], input[placeholder="Celular Alterno"], input[placeholder="Dirección de residencia"],
input[placeholder="Ciudad"], input[placeholder="Correo electrónico"], input[placeholder="Ocupación"], 
input[placeholder="Crea una contraseña"],
input[placeholder="Repite la contraseña creada"]{
    font-size: 15px;
    width: 100%;
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 3px;
}

#button {
    background: #953f10;
    color:#ffff;
    padding: 15px;
    font-size: 15px;
}

.login{
    width: 50%;
}
input[placeholder="Usuario"], input[placeholder="Contraseña"]{
    font-size: 15px;
    width: 100%;
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 3px;
}
